<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Album example · Bootstrap v5.0</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>

<body>
 <%= render "header" %>
<main>
  <div class="top-image">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
       <% if user_signed_in? %>
         <h1 class="text-white">PromoAppへようこそ</h1>
        <a class="lead text-white">知ってもらいたいお店と、知りたいお客様を繋ぎ合わせるアプリです</a>
        <a class="lead text-white">さあ、投稿しましょう</a>
         <p class="post-btn">
          <%= link_to "投稿する", new_post_path, class:"btn btn-success" %>
        </p>
       <% else %>
        <h1 class="text-white">PromoAppへようこそ</h1>
        <a class="lead text-white">知ってもらいたいお店と、知りたいお客様を繋ぎ合わせるアプリです</a>
        <a class="lead text-white">さあ、はじめましょう</a>
        <p class="post-btn">
          <%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary my-2" %>
        </p>
       <% end %>
      </div>
    </div>
  </section>
  </div>
  <div class="album py-5 bg-light">
    <h3 class="post-list">投稿一覧</h3>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @posts.each do |post| %>
        <div class="col">
          <div class="card shadow-sm">
            <%= link_to post_path(post.id) do %>
            <div>
            <%= image_tag post.image, class: "item-img" %>
            </div>
            <% end %>
            <div class="card-body">
              <p class="card-title"><%= post.title %></p>
              <p class="card-text"><%= truncate(post.text,length:39) %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <%= link_to "View" , post_path(post.id), class:"btn btn-sm btn-outline-secondary" %>
                  <% if user_signed_in? && current_user.id == post.user_id %>
                   <%= link_to "Edit" , edit_post_path(post.id), class:"btn btn-sm btn-outline-secondary" %>
                  <% elsif  post.record.present? %>
                   <%= link_to "SOLD OUT" , root_path, class:"btn btn-sm btn-outline-secondary" %>
                  <% end %>
                </div>
                <small class="text-muted"><%= time_ago_in_words( l post.created_at) %>前</small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
     </div>
       <h3 class="store-lists">店舗一覧</h3>
       <div class="store-list">
         <% @users.each do |user| %>
         <% if user.store_name.present? %>
         <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
             <strong class="d-inline-block mb-2 text-primary"><%= user.business.name %></strong>
             <h3 class="mb-0"><%= user.store_name %></h3>
             <div class="mb-1 text-muted"><%= user.prefecture.name %></div>
             <p><%= user.area %></p>
             <p><%= user.store_appeal %></p>
             <%= link_to "more", user_path(user.id)%>
             
            </div>
            <div class="col-auto d-none d-lg-block">
             <div>
               <%= image_tag user.image.variant(resize: '400x300'), class: "user-img" %>
             </div>
            </div>
         </div>
         <% end %>
         <% end %>
       </div>
   </div>
</main>

<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
    <div class="footer-bar">
      <p class="navbar-brand d-flex align-items-center">
        <strong>About</strong>
      </p>
      <a href="#" class="navbar-brand d-flex align-items-center">
        <a class="text-muted">PromoAppとは、お買い得情報満載のプロショップと職人様を繋ぎ合わせるアプリです。</a>
      </a>
     </div>
     <ul class="list-unstyled">
      <h5 class="text-white">Contact</h5>
      <li><a class="text-secondary">田中 敦嗣</a></li>
      <li><a class="text-secondary">Email:atsushi19890825@gmail.com</a></li>
      <li><a class="text-secondary">TEL:0123-45-6789</a></li>
      <li><a class="text-secondary">FAX:0123-45-6789</a></li>
    </ul>
  </div>
</div>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>