<!doctype html>
<html lang="en">

 <%= render "header" %>

 <div class="main">
  <div class="container-main">
   <%= form_with model: @post, url: posts_path ,method: :POST, id:'new_post', class: 'registration-main', local: true do |f| %>
   <div class='form-wrap'>
    <div class='form-header'>
      <h3 class='form-header-text'>
       投稿フォーム
      </h3>
    </div>

   <%= render  'share/error_messages', model: f.object %>
  
   <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">タイトル</label>
        <span class="indispensable">(必須)</span>
      </div>
      <%= f.text_area :title, class:"input-default", id:"title", placeholder:"例) ドライバー", maxlength:"40" %>
   </div>
   <div class="form-group">
       <div class='form-text-wrap'>
          <label class="form-text">説明</label>
          <span class="indispensable">(必須)</span>
        </div>
        <%= f.text_area :text, class:"input-default-text", id:"text", placeholder:"例) 投稿の説明文" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">商品画像</label>
        <span class="indispensable">クリックしてアップロード（必須）</span>
        <div id="previews"></div>
      </div>
      <%= f.file_field :image, id:"item-image" %>
   </div>

   <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">カテゴリー</label>
        <span class="indispensable">(必須)</span>
      </div>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {},{class:"input-default", id:"genre_id"}) %>
   </div>
   <div class="form-group">
     <div class='form-text-wrap'>
       <label class="form-text">価格</label>
       <span class="indispensable">(任意)</span>
     </div>
     <%= f.text_area :price, class:"input-default", id:"price", placeholder:"販売される方は金額を入力してください   例)1000", maxlength:"40" %>
   </div>

    <div class="new-submit">
      <div class='d-grid gap-2'>
        <%= f.submit "投稿" ,class:"btn btn-primary" %>
      </div>
    </div>
    <div class="new-submit">
      <div class='d-grid gap-2'>
         <%= link_to "戻る", root_path, class:"btn btn-secondary" %>
      </div>
    </div>
   </div>
   <% end %>
  </div>
 </div> 
 <div class="footer-sign-in">
 </div>

  <%= render 'footer' %>

</html>
