<!doctype html>
<html lang="en">
  
 <%= render "header" %>
 
 <main>
  <div class="top-image">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
         <h1 class="text-white">商品詳細</h1>
        <div class="text-space">
        <a class="lead text-white">気になることがあればコメントをしましょう</a>
        </div>
      </div>
    </div>
  </section>
  </div>
  <div class="post-box">
    <table class="detail-table">
      <tbody class="detail-balance">
        <tr>
          <th class="detail-item1">タイトル</th>
          <td class="detail-value1"><%= @post.title %></td>
        </tr>
        <tr>
          <th class="detail-item2">投稿画像</th>
          <td class="detail-value2"><%= image_tag @post.image.variant(resize:'500x500')  %></td>
        </tr>
      </tbody>
      <tbody class="detail-balance">
        <tr>
          <th class="detail-item3">カテゴリー</th>
          <td class="detail-value3"><%= @post.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item4">投稿文</th>
          <td class="detail-value4"><%= @post.text %></td>
        </tr>
        <tr>
          <th class="detail-item5">店舗名</th>
          <td class="detail-value5"><%= @post.user.store_name %></td>
        </tr>
        <tr>
          <th class="detail-item6">投稿者名</th>
          <td class="detail-value6"><%= @post.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item8">投稿日時</th>
          <td class="detail-value8"><%= l @post.created_at %></td>
        </tr>
        <tr>
          <% if @post.price.present? %>
          <th class="detail-item7">価格</th>
          <td class="detail-value7"><%= @post.price %>円</td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="post-btn">
   <% if user_signed_in? && current_user.id == @post.user_id %>
   <div class="edit-btn">
     <%= link_to "編集する" , edit_post_path(@post.id), class:"btn btn-success btn-lg" %>
   </div>
   <div class="destroy-btn">
     <%= link_to "削除する" , post_path(@post.id), method: :DELETE, class:"btn btn-secondary btn-lg" %>
   </div>
   <% end %>
   <% if @post.price.present?%>
     <% unless user_signed_in? && current_user.id == @post.user_id %>
       <% unless @post.record.present?%>
        <div class="sell-btn">
           <%= link_to "購入する" , post_records_path(@post.id), class:"btn btn-danger btn-lg" %>
        </div>
       <% else %>
        <div class="sell-btn">
         <button type="button" class="btn btn-light btn-lg">SOLD OUT</button>
        </div>
       <% end %>
     <% end %>
   <% end %>
   <%= link_to "戻る", root_path, class:"btn btn-secondary btn-lg" %>
  </div>

 <div class="comment">
   <div class="comment-view" id= "comments">
     <% if @post.comments.present?%>
     <p>＜コメント一覧＞</p>
      <% @post.comments.each do |comment|%>
       <div class="comment-list">
         <p><b><%= @post.user.nickname %></b> : <%= comment.text %></p>
       </div>
      <% end %>
     <% end %>
   </div>
   <div class="comment-content">
     <div class="comment-text">
       <% if user_signed_in?%>
       <%= form_with model: [@post, @comment], class:"comment-form",id:"comment-form", local: true do |f|%>
       <%= f.text_area :text, class:"input-default-comment", id:"comment",placeholder: "コメントがある方は入力してください" %>
     </div>
     <div class="comment-submit">
       <button type="submit" class="btn btn-primary btn-lg">コメントする</button>
     </div>
     <% end %>
     <% end %>
    </div>
  </div>
 </main>

 <%= render 'footer' %>

</html>